* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f9f9f4;
  color: #333;
}

h1 {
  text-align: center;
  color: #838b5a;
  font-size: 2em;
  font-family: "Brush Script MT", "Brush Script Std", cursive;
  margin-bottom: 30px;
}


form {
  margin-bottom: 30px;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

legend {
  font-weight: bold;
  color: #838b5a;
  padding: 0 10px;
}

label {
  display: inline-block;
  width: 120px;
  color: #555;
  margin: 5px 0;
}

select {
  width: 220px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
}

/* 複選框設定 */
input[type="checkbox"] {
  display: none; /* 隱藏原本複選框 */
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  color: #838b5a;
  margin: 5px 0;
}

input[type="checkbox"] + label:before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #b9b973;
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
}

input[type="checkbox"]:checked + label:before {
  background-color: #b9b973;
}

input[type="checkbox"]:checked + label:after {
  content: '✔';
  display: inline-block;
  color: white; /* 勾選符號顏色 */
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #F5A623FF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #ffe38e;
}

#result {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: initial;
  margin: 20px 0;
  background-color: #fff;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 12px;
  text-align: center;
  color: #333;
}

th {
  background-color: #838b5a;
  color: white;
  border-bottom: 2px solid #ccc;
}

td {
  background-color: #f9f9f4;
}
